:root {
    --title-color: #212121;
    --accent-color: #2196F3;
    --text-color: #757575;
    --secondary-color: #ffffff;
    --first-background-color: #ffffff;
    --secondary-background-color: #f5f4fa;
    --footer-background-color: #2f303a;
    --address-link-color: #ffffff;
    --footer-mail-color: rgba(255, 255, 255,0.6);
    --footer-tel-color: rgba(255, 255, 255,0.6);
    --active-color: #2196F3;
    --light-section-background-color: #ffffff;
    --dirty-section-background-color: #F5F4FA;
    --button-color: #ffffff;
    --button-background-color: #2196f3;
    --filter__button-color: #212121;
    --filter__button-background-color: #f5f4fa;
    --filter__button_active-color: #ffffff;
    --filter__button_active-background-color: #2196f3;
    --feature__list-color: #212121;
    --projects-p-color: #ffffff;
}


.link{
    text-decoration: none;
}

.item{
    list-style: none;
}

.button{
    color: var(--button-color);
    background-color: var(--button-background-color);
    border: none
}

/*------------header---------*/

.header{
    background-color: var(--first-background-color) ;
}

.header__link,.user-nav__link{
 color: var(--title-color);
}

.logo-header__span{
    color: var(--accent-color)
}


/*---------------footer------------*/

.footer{
    background-color: var(--footer-background-color);
}

.footer__link_logo{
    color: var(--secondary-color);
}

.footer__span_logo{
    color: var(--accent-color);
}

.footer__link_address{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--address-link-color);
}

.footer__link_mail{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--footer-mail-color);
}

.footer__link_tel{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--footer-tel-color);
}

.footer__text_social,.footer__text_subsсribe{
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
}




