:root {
    --title-color: #212121;
    --accent-color: #2196F3;
    --text-color: #757575;
    --secondary-color: #ffffff;
    --first-background-color: #ffffff;
    --secondary-background-color: #f5f4fa;
    --footer-background-color: #2f303a;
    --address-link-color: #ffffff;
    --footer-mail-color: rgba(255, 255, 255,0.6);
    --footer-tel-color: rgba(255, 255, 255,0.6);
    --active-color: #2196F3;
    --light-section-background-color: #ffffff;
    --dirty-section-background-color: #F5F4FA;
    --button-color: #ffffff;
    --button-background-color: #2196f3;
    --filter__button-color: #212121;
    --filter__button-background-color: #f5f4fa;
    --filter__button_active-color: #ffffff;
    --filter__button_active-background-color: #2196f3;
    --feature__list-color: #212121;
    --projects-p-color: #ffffff;
}


.link{
    text-decoration: none;
}

.item{
    list-style: none;
}

.button{
    color: var(--button-color);
    background-color: var(--button-background-color);
    border: none
}












