
.body {
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--first-background-color);
}

.header, .features, .our-product {
    background-color: var(--first-background-color);
}

/*------------header---------*/

.header{
    background-color: var(--first-background-color) ;
}

.header__link, .user-nav__link {
    color: var(--title-color);
}

.header-logo__span {
    color: var(--accent-color);
}

.header-logo__link {
    font-family: Raleway, sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.header__link {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.user-nav__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

/*-------------main index-------------*/

.hero{
  background-color: #ece2e2;  /*временно*/
    padding:  200px 0;
}

.hero__title {
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0.06em;
    color: var(--secondary-color);
    text-align: center;

    width: 696px;
    margin: 0 auto 30px auto;
}

.hero__button{
    display: block;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    margin: 0 auto;
    color: var(--button-color);
    background-color: var(--button-background-color);

    padding: 10px 32px 10px 32px;
    width: 200px;
    border: 1px solid transparent;
    border-radius: 4px;

}

.features{
    padding: 94px 0;
}

.features__list img{
  margin-bottom: 30px;
}

.features__list h3{
  margin-bottom: 10px;
}

.features__list h3 {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--feature__list-color);
    margin: 0 0 10px 0;
}

.features__list p{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
    margin: 0;
}

.our-product__title, .our-team__title, .regular-customers__title{
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--title-color);
}

.our-product h2{
    margin: 0 0 50px 0;
}

.our-product__item p {
    display: block;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: center;
    vertical-align: center;
    color: var(--secondary-color);
    background-color: var(--background-our-product);
    width: 370px;
    padding-top: 26px;
    padding-bottom: 26px;
    margin: 0 0 94px 0;
}

.our-team{
    padding: 94px 0;
    background-color: var(--dirty-section-background-color);
}

.our-team__title{
    margin: 0 0 50px 0;
}

.our-team__li{
    padding-bottom: 24px;
}

.our-team__list img{
    margin: 0 0 30px 0;
}

.our-team__list h3{
    margin: 0 0 10px 0;
}

.our-team__list p{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--text-color);
    margin: 0 0 16px 0;
}

.our-team h3{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--title-color);
}

.regular-customers{
    padding: 94px 0;
}

.regular-customers h2{
    margin: 0 0 50px 0;
}

/*-----------main index2------------*/

.our-projects__title{
    display: none;
}

.section-filter{
   padding-bottom: 25px;
}

.filter__list button{
    font-family: Roboto, sans-serif;
    font-weight: 500;
    color: var(--filter__button-color);
    background-color: var(--filter__button-background-color);
    border: none;
}

.filter__list .filter_active {
    color: var(--filter__button_active-color);
    background-color: var(--filter__button_active-background-color);
}

.projects{
    padding-bottom: 94px;
    padding-top: 25px;
    background-color: aquamarine;
}

.projects__list img{
    margin: 0 0 20px 0;
}

.projects__list P{
    
}

.projects__list h2{
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-color);
}

.projects__text_hover{
    font-size: 18px;
    font-weight: 400;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--projects-p-color);
}

.projects__text_filter{
    color: var(--text-color);
}


/*---------------footer------------*/

.footer{
    background-color: var(--footer-background-color);
    padding: 60px 0;
}

.footer h2{
    display: none;
}

.footer__link_logo{
     margin: 0 0 20px 0;
    color: var(--secondary-color);
 }

.footer__span_logo{
    color: var(--accent-color);
}

.footer-address__link_address{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;
    color: var(--address-link-color);
    margin: 0 0 90px 0;
}

.footer-address__link_mail{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--footer-mail-color);
    margin: 0 0 90px 0;
}

.footer__link_tel{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--footer-tel-color);
}

.footer__text_social,.footer__text_subsсribe{
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
    margin: 0 0 20px 0;
}

.footer__button_subsсribe{
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--button-color);
    background-color: var(--button-background-color);
    border: none;
}

.active {
    color: var(--active-color);
}
