
.body {
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--first-background-color);
    margin-top: 0;
}

.header, .features, .our-product {
    background-color: var(--first-background-color);
}

/*===========header========*/

.header{
    background-color: var(--first-background-color) ;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.header__container{
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.header-logo__span {
    color: var(--accent-color);
}

.header-logo__link {
    font-family: Raleway, sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;
    
}

/*-------main navigation-----*/

.nav__link, .user-nav__link {
    display: inline-block;
    color: var(--title-color);
    padding-bottom: 32px;
    padding-top: 32px;
    margin-bottom: 0;
    margin-top: 0;
}

.nav__list{
    display: flex;
    margin-left: 85px;
    margin-top: 0;
    margin-bottom: 0;
}

.nav__list li{
    margin-right: 50px;
    
}

.nav__list li:last-child{
    margin-right: 0;
}

.nav__link {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition-property: color;
    transition-duration: 500ms ;
    transition-timing-function: linear;
}

/*-----user navigation-----*/

.user-nav__list{
    display: flex;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.user-nav__list li{
    margin-right: 50px;
    padding: 0;
}

.user-nav__list li:last-child{
    margin-right: 0;
}

.user-nav__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--user-nav-color);

    transition-property: color;
    transition-duration: 500ms ;
    transition-timing-function: linear;
}

.user-nav__link:hover, .nav__list a:hover{
    color: var(--accent-color);
}

.user-nav__link:hover .user-nav__envelope,
.user-nav__link:hover .user-nav__phone{
   fill: var(--accent-color);
}


.active{
    position: relative;
}

.active::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 2px ; 
    background-color: var(--accent-color);
    left: 0;
    bottom: 0;
}

.user-nav__envelope, .user-nav__phone{
    fill: var(--user-nav-color);
}

 .user-nav__envelope{
    width: 16px;
    height:11px;
}

.user-nav__phone{
    width: 10px;
    height: 15px;
}

 .smartphone{
    padding-top: 30px;
    padding-bottom: 31px;
}

/*-------------main index-------------*/

.hero{

    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--hero-background-color);
    height: 600px;

    background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.5),
    rgba(0,0,0,0.5)
    ),
    url("../images/hero/hero-img.jpg");
    
}

.hero__title {
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0.06em;
    color: var(--secondary-color);
    text-align: center;

    width: 696px;
    margin: 0 auto 30px auto;
    padding-top: 200px;
}

.hero__button{
    display: block;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;

    cursor: pointer;
    color: var(--button-color);
    background-color: var(--button-background-color);

    margin: 0 auto;
    width: 200px;
    height: 50px;
    border: 1px solid transparent;
    border-radius: 4px;

}

/*-----features list-----*/

.features{
    padding: 94px 15px;
}

.features__list{
    display: flex;
    padding: 0;
}

.features__list li{
    
    margin-right: 30px;
    
}

.features__list li:last-child{
    margin-right: 0;
}

.features__list li:last-child{
    margin-left: 15px;
}

.features__wrap{
    width: 270px;
    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
}

.features__list svg{
    width: 70px;
    height: 70px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 100px;
    margin-right: 100px;
    
}

.features__list h3{
  margin-bottom: 10px;
}

.features__list h3 {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--feature__list-color);
    margin: 0 0 10px 0;
}

.features__list p{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
    margin: 0;
}

/*-----our product------*/

.our-product{
    padding-bottom: 94px;
}

.our-product__list{
    display: flex;
    padding: 0;
    
}

.our-product__title, .our-team__title, .regular-customers__title{
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--title-color);
}

.our-product h2{
    margin: 0 0 50px 0;
}

.our-product__item{
    width: 370px;
    margin-right: 30px;
}

.our-product__item:last-child{
    margin-right: 0;
}

.our-product__item:first-child{
    margin-left: 15px;
}

.our-product__list .last-product{
    margin-right: 0;
}

.our-product__item div{
    position: relative;
}

.our-product__item p {
    position: absolute;
    display: block;
    text-align: center;
    bottom: 0;

    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
    background-color: var(--background-our-product);

    width: 370px;
    padding-top: 26px;
    padding-bottom: 26px;
    margin: 0;
}

/*-------our team----*/

.our-team{
    padding: 94px 0;
    background-color: var(--dirty-section-background-color);
}

.our-team__title{
    margin: 0 0 50px 0;
}

.our-team__list{
    display: flex;
    justify-content: space-between;
    padding-left: 0;
}

.our-team__li{
    background-color: var(--background-color-our-team);
    padding-bottom: 24px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
     0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
}

.our-team__list img{
    margin: 0 0 30px 0;
}

.our-team h3{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--title-color);
    margin: 0 0 10px 0;
}

.our-team__list p{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--text-color);
    margin: 0 0 16px 0;
}

.social__icon{
fill:#AFB1B8;

transition-property: fill;
    transition-duration: 600ms ;
    transition-timing-function: linear;
}

.our-team__social{
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-left: 32px;
    margin-right: 32px;

}

.our-team__social li{
    height:40px;
}

.our-team__social a{
    display: block;
    border-radius: 50%;
    height: 44px;
    
    padding: 12px;
    background-color: transparent;
    
    transition-property: background-color;
    transition-duration: 600ms ;
    transition-timing-function: linear;
}

.our-team__social a:hover .social__icon{
   fill: #ffffff;
}

.our-team__social a:hover{
   background-color: var(--social-background-hover);
}



.our-team svg{
    width: 20px;
    height: 20px;
}


/*-------regular customers------*/

.regular-customers{
    padding-top: 94px;
    padding-bottom: 94px;
}

.regular-customers h2{
    margin: 0 0 50px 0;
    text-align: center;
}

.regular-customers__list{
    display: flex;
    padding-left: 0;
}

.regular-customers__list a{ 
    display: flex;
    justify-content: center;
    align-items: center;

    width: 170px;
    height: 90px;
    margin-right: 30px;
    border: 1px solid var(--regular-customers-border-color);
    border-radius: 4px;

      transition-property: border-color;
    transition-duration: 1000ms ;
    transition-timing-function: linear;
   }

.regular-customers__list li:last-child{
    margin-right: 0;
}

.regular-customers__logo{
    fill: var(--regular-customer-color);

    transition-property: fill;
    transition-duration: 500ms ;
    transition-timing-function: linear;
}

.regular-customers__list a:hover{
   border-color: var(--accent-color);
}

 .regular-customers__list a:hover .regular-customers__logo { 
    fill: var(--regular-customer-color-hover);
}

 .regular-customers__logo1{
    width: 44px;
    height: 49px;
}

.regular-customers__logo2{
    width: 40px;
    height: 52px;
}

.regular-customers__logo3{
    width: 44px;
    height: 49px;
}

.regular-customers__logo4{
    width: 80px;
    height: 42px;
}

.regular-customers__logo5{
    width: 59px;
    height: 47px;
}

.regular-customers__logo6{
    width: 88px;
    height: 45px;
}

/*-----------main index2------------*/

.our-projects__title{
    display: none;
}

/*========filter=======*/

.filter{
    padding-bottom: 25px;
}

.filter__list{
    display: flex;
    justify-content: center;
}

.filter__list li{

    background-color: var(--filter__button-background-color);
    margin-right: 8px;
    border-radius: 4px;padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
}

.filter__list button{
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    color: var(--filter__button-color);
    border: none;
    background-color: var(--filter__button-background-color);
}

.filter__list li:last-child{
    margin-right: 0;
}

.filter__list .filter__item_last{
    margin-right: 0;
}

.filter__list .filter_active {
    color: var(--filter__button_active-color);
    background-color: var(--filter__button_active-background-color);
}

/*==========projects=========*/

.projects{
    padding-bottom: 64px;
    padding-top: 25px;
}

.projects__list{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin: 0;
}

.projects__list li{
    width: 370px;
    margin-right: 30px;
    border: 1px solid var(--project-border-color);
    margin-bottom: 30px;
}

.projects__list li:hover .projects__text_hover{
    opacity: 1;
    transform: scale(1) ;
}

.projects__list li:nth-child(3n){
    margin-right: 0;
}

.projects__list img{

    margin: 0 0 20px 0;
}

.projects__list h2{
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-color);
    margin-left: 24px;
}

.projects__text_hover{
    position: absolute;
    
    font-size: 18px;
    font-weight: 400;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--projects-p-color);
    background-color: var(--project-text-background-color);
    opacity: 0;

    width: 370px;
    height: 100%;
    padding: 24px 63px;
    margin: 0;
    bottom: 0;
    
    transform: scale(0.8);
    transition:transform 500ms cubic-bezier(0.4, 0, 0.2, 1), 
    opacity 500ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

  .projects__list div{
  position: relative;
}

.projects__text_filter{
    color: var(--text-color);
    margin-left: 24px;
}


/*---------------footer------------*/

.footer{
    background-color: var(--footer-background-color);
    padding: 60px 0;
}

.footer__container{
    display: flex;
    justify-content: space-between;
}

.footer__link_logo{
     margin: 0 0 20px 0;
    color: var(--secondary-color);
 }

.footer__span_logo{
    color: var(--accent-color);
}

.footer-address__link_address{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;
    color: var(--address-link-color);
    margin: 0 0 90px 0;
}

.footer-address__link_mail{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--footer-mail-color);
    margin: 0 0 90px 0;
}

.footer__link_tel{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--footer-tel-color);
}

.footer__text_social,.footer__text_subsсribe{
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
    margin: 0 0 20px 0;
}

.footer-social__list{
    display: flex;
    justify-content: space-between;
    width: 206px;
    padding: 0;
}

.footer-social__list li{
    padding: 12px;
    background-color: var(--footer-social-background);
    border-radius: 50%;
    height: 44px;

    transition-property: background-color;
    transition-duration: 500ms;
    transition-timing-function: linear;
}

.footer-social__list li:hover{
background-color: var(--social-background-hover);
}

.footer__social{
    fill: #ffffff;
    width: 20px;
    height:20px;
}

.footer__input{
    font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 1.25;
letter-spacing: 0.03em;
text-align: left;
background-color: var(--footer-input-border-background);
color: var(--footer-input-color);

    height: 50px;
    width: 342px;
    border-radius: 4px;
    border: 1px solid var(--footer-input-border);
    padding-left: 16px;
}

.footer__button_subsсribe{
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--button-color);

    text-align: center;
    background-color: var(--button-background-color);
    border: 1px solid transparent;
    cursor:pointer;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 19px;
    width: 200px;
    height: 50px; 
    vertical-align: middle;
}

.subscribe__icon{
    width: 24px;
    height: 24px;
   vertical-align: middle;
   margin-left: 10px;
}

/* ====== modal ====== */
.modal-wrap.is-hidden{
opacity: 0;
pointer-events: none;
}

.modal-wrap{
    position: fixed;
    
    top: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: var(--modal-wrap-background);
}

.modal{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50% );

border-radius: 4px;
width: 528px;
height: 581px;
padding: 40px;

background-color:var(--secondary-color);
}

.modal__title{
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-color);
}

.modal-name__input, .modal-tel__input, .modal-post__input{
    width: 100%;
    height: 40px;
    border: 1px solid var(--modal-border-color);
    border-radius: 4px;
    margin-bottom: 28px;
    padding: 0;

    transition-property: border;
    transition-duration: 500ms;
    transition-timing-function: linear;
}

.modal-name__input:hover, 
.modal-tel__input:hover,
 .modal-post__input:hover{
    border: 1px solid var(--modal-accent-color);
}

.modal-name__label{
    display: none;
}

.modal-coment__textarea{
    width: 448px;
    height:120px;
    border: 1px solid var(--modal-border-color);
    border-radius: 4px;
    margin-bottom: 20px;

    transition-property: border;
    transition-duration: 500ms;
    transition-timing-function: linear;
}

.modal-coment__textarea:hover{
    border: 1px solid var(--modal-accent-color); 
}

.modal-condition__label{
font-size: 14px;
font-weight: 400;
line-height: 1.7;
letter-spacing: 0.03em;

}

.modal-condition__label span{
    color: var(--modal-condition-span);
    text-decoration: underline;
}

.modal-condition__check-box{
margin-bottom: 30px;
}

.modal-button{
    
  margin: 0 auto;
  

  display: block;
  width: 200px;
  height: 50px;  
  border-radius: 4px;
  border: 1px solid transparent;
  
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
  background-color: var(--modal-button-background);
  
}





