.burger-button{
    width: 30px;
    height:30px;
    background-color: white;
    border: none;
}

.burger-button:focus{
padding-left: 0;
padding-right: 0;
}

.burger-button__svg{
    display: block;

    width: 24px;
    height:24px;
    margin-right: 0;
}

.burger-button__svg:focus{
padding-left: 0;
padding-right:0;
}

 