.header-wrap {
  outline: aqua 5px solid;
  
}

@media screen and(min-width: 1260px) {
  .nav__list {
    display: flex;
    margin-left: 85px;
    margin-top: 0;
    margin-bottom: 0;
   

    li {
      margin-right: 50px;
    }

    li:last-child {
      margin-right: 0;
    }
  }

  .nav__link {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition-property: color;
    transition-duration: 500ms;
    transition-timing-function: linear;
  }
}
