.nav__link {
  margin-bottom: 40px;

  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: $nav-link-col;

  transition-property: color;
  transition-duration: 500ms;
  transition-timing-function: linear;
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-left: 0;
}

@media screen and(min-width: 768px) {
  .nav__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 81px;

    li{
      margin-right: 50px;
    }

    li:last-child{
      margin-right: 0;
    }
  }
}

@media screen and(min-width: 1260px) {
  .nav__list {
    justify-content: flex-start;

    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;

    li {
      margin-right: 50px;
    }

    li:last-child {
      margin-right: 0;
    }

    .nav__link{
      margin-bottom: 0;
    }
  }
}
