.our-team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $dirty-section-background-color;
  overflow: hidden;

  &__wrap {
    padding-top: 30px;
    padding-bottom: 24px;
    padding-left: 32px;
    padding-right: 32px;
  }

  h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    color: $title-color;
    margin: 0 0 10px 0;
  }

  p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.03em;
    text-align: center;
    color: $text-color;
    margin: 0 0 16px 0;
  }

  &__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: -30px;
    
    padding-left: 0;
    overflow: hidden;
  }

  &__li {
    margin-right: 30px;
    margin-bottom: 30px;

    width: 354px;
    border-radius: 0px 0px 4px 4px;

    background-color: $background-color-our-team;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }

  &__social {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  &__social li {
    height: 40px;
  }

  &__social a {
    display: block;
    border-radius: 50%;
    height: 44px;
    width: 44px;

    padding: 12px;
    background-color: transparent;

    transition-property: background-color;
    transition-duration: 200ms;
    transition-timing-function: linear;
  }

  &__social a:hover .social__icon {
    fill: #ffffff;
  }

  &__social a:hover {
    background-color: $social-background-hover;
  }

  .social__icon {
    fill: #afb1b8;

    transition-property: fill;
    transition-duration: 600ms;
    transition-timing-function: linear;
  }

  svg {
    width: 20px;
    height: 20px;
  }
}

.our-team__list {
  padding-left: 0;
}

.our-team__title {
  margin: 0 0 30px 0;
  text-align: center;
}

.our-team__img {
  width: 100%;
}

@media screen and(min-width:1260px) {
  .our-team {
    padding: 94px 0;

    &__list img {
      margin: 0;
    }

    &__list {
      flex-wrap: nowrap;
    }

    li {
      width: 270px;
    }
  }
}
