// color variable
$title-color: #212121;
$accent-color: #2196F3;
$text-color:#757575;
$secondary-color: #ffffff;
    $first-background-color: #ffffff;
    $secondary-background-color: #f5f4fa;
    $footer-background-color: #2f303a;
    $address-link-color: #ffffff;
    $footer-mail-color: rgba(255, 255, 255, 0.6);
   $footer-tel-color: rgba(255, 255, 255, 0.6);
    $active-color: #2196F3;
    $light-section-background-color: #ffffff;
    $dirty-section-background-color: #F5F4FA;
    $button-color: #ffffff;
    $button-background-color: #2196f3;
    $filter__button-color: #212121;
    $filter__button-background-color: #f5f4fa;
    $filter__button_active-color: #ffffff;
    $filter__button_active-background-color: #2196f3;
    $feature__list-color: #212121;
   $projects-p-color: #ffffff;
    $background-our-product: rgba(47, 48, 58, 0.8);
    $hero-background-color: #000000;
    $background-color-our-team: #ffffff;
    $regular-customers-border-color: #AFB1B8;
    $footer-social-background: rgba(255, 255, 255, 0.1);
    $social-background-hover: #2196F3;
    $regular-customer-color: #AFB1B8;
    $regular-customer-color-hover: #2196F3;
    $footer-input-color: rgba(250,250,250, 0.6);
    $footer-input-border: rgba(255, 255, 255, 0.3);
    $footer-input-border-background: #2F303A;
    $user-nav-color: #757575;
    $project-border-color: #eeeeee;
    $project-text-background-color: rgba(33, 150, 243, 0.9);
    $modal-wrap-background: rgba(0, 0, 0, 0.2);
    $modal-border-color: rgba(33, 33, 33, 0.2);
    $modal-condition-span: #2196F3;
    $modal-button-background: #2196F3;
    $modal-accent-color: #2196F3;
    $modal-close-border-color: rgba(0,0,0,0.1);
    $modal-close-hover: #2196F3;
    $modal-input-focus-hover-border:#2196F3;