.active {
    position: relative;
    color: $accent-color;
    padding-bottom: 8px;
  }

  .active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 4px;
    border-radius: 2px;

    background-color: $accent-color;
    color: $accent-color;
  }