// color variable
$title-color: #212121;
$accent-color: #2196f3;
$text-color: #757575;

$secondary-color: #ffffff;

$header-wrap-bacground: #ffffff;
$header-border-color: #ececec;

$features-wrap-background: #f5f4fa;
$feature__list-color: #212121;

$first-background-color: #ffffff;
$secondary-background-color: #ffffff;

$nav-link-col: #212121;
$address-link-color: #ffffff;

$active-color: #2196f3;
$light-section-background-color: #ffffff;
$dirty-section-background-color: #f5f4fa;

$button-color: #ffffff;
$button-background-color: #2196f3;

$filter__button-color: #212121;
$filter__button-background-color: #f5f4fa;
$filter__button_active-color: #ffffff;
$filter__button_active-background-color: #2196f3;

$projects-p-color: #ffffff;
$background-our-product: rgba(47, 48, 58, 0.8);
$hero-background-color: #000000;
$background-color-our-team: #ffffff;

$social-background-hover: #2196f3;

$regular-customers-border-color: #afb1b8;
$regular-customer-color: #afb1b8;
$regular-customer-color-hover: #2196f3;

$footer-mail-color: rgba(255, 255, 255, 0.6);
$footer-tel-color: rgba(255, 255, 255, 0.6);
$footer-background-color: #2f303a;
$footer-social-background: rgba(255, 255, 255, 0.1);
$footer-input-color: rgba(250, 250, 250, 0.6);
$footer-input-border: rgba(255, 255, 255, 0.3);
$footer-input-border-background: #2f303a;
$user-nav-color: #757575;

$project-border-color: #eeeeee;
$project-text-background-color: rgba(33, 150, 243, 0.9);

$modal-wrap-background: rgba(0, 0, 0, 0.2);
$modal-border-color: rgba(33, 33, 33, 0.2);
$modal-condition-span: #2196f3;
$modal-button-background: #2196f3;
$modal-accent-color: #2196f3;
$modal-close-border-color: rgba(0, 0, 0, 0.1);
$modal-close-hover: #2196f3;
$modal-input-focus-hover-border: #2196f3;
$container-background: #ffffff;